<h1>Agregar una Entrada</h1>
<form action="/do" method="post">
Titulo:
<br />
<input type="text" name="titulo" size="88" value="<% titulo %>">
<br />

<textarea cols="88" rows="10" name="contenido">
<% contenido %>
</textarea>
<br />
<input type="submit" name="ok">
</form>
<div id="footer">Volver a la <a href="/">página principal</a>.</div>
