<h2>Hola!</h2>

<p><% descripcion %>
</p>

<br/>
<h2> Entradas </h2>

<ul>
<% FOR p in data.keys.sort %>
    <li><% data.$p.fecha %> - <a href="/page/<% p %>"><% data.$p.titulo %></a></li>
<% END %>
</ul>

<br/>
<div id="footer"><% autor%> - <a href="/do">Agregar</a> una entrada.</div>
