body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f2e9e1 ;
    font-family: monospace;
    font-size: 16px;
    color: #1c140d ;
}

#contenedor {
    margin: 0px auto 0px 3%;
    width: 75%;
    padding: 25px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
    font-size: 28px;
    color: #1c4130;
}

a  {
    color: #1c4130;
}

a:hover {
    background-color: #666;
    color: #f2e9e1;
    text-decoration: none;
}

#sidebar {
    float: right;
    width: 175px;
}

h1, h2, h3, h4, h5 {
    font-family: monospace;
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

code, tt {
    font-family: monospace;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-size: 14px;
}
